@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

:root{
    --primary-color: #3072ff;
    --secondary-color: #f3f1ea;
    --color_one: #ffb171;
    --color_two: #ffc290;
    --hover-color: #6e9cff;
    --white: #ffffff;
    --black: #242424;
    --grey: #5a5a5a;
}

body{
    background: var(--white);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    cursor: pointer;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1,5rem;
    padding-right: 1,5rem;
    margin: 0 auto;
}

.icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.none{
    display: none;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .7rem 1.5rem;
    background: var(--primary-color);
    border: none;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    color: var(--white);
    transition: .2s ease-in-out;

    a{
        color: var(--white);
        font-weight: 400;
    }

    &:hover{
        background: var(--hover-color);
        transition: .2s ease-in-out;
    }
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
    color: var(--grey);
}

p{
    font-size: 13px;
    color: var(--grey);
    line-height: 22px;
}

h4{
    padding: 1rem 0;
    font-weight: 700;
    color: var(--black); 
}

h2{
    font-size: 25px;
    padding: 1rem 0;
    color: var(--black);
}

.text{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}

//navigation bar
.navBar{
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    .navBarOne, .navBarTwo{
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    .navBarOne{
        background: var(--secondary-color);
        .icon:hover{
            color: var(--primary-color);
        }

        .atb{
            gap: 1rem;

            span{
                color: var(--black);
                font-size: 13px;
                cursor: pointer;
                &:hover{
                    color: var(--primary-color);
                }
            }
        }

    }

    .navBarTwo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        top:3rem;
        padding: 1rem 1rem;
        transition: .3s ease-in-out;
    }

    .logoDiv{
        .logo{
            width: 3rem;
            margin:0;
        }
    }

    @media screen and (max-width: 768px){
        .navBarMenu{
            position: absolute;
            background: var(--secondary-color);
            padding: 1.5rem;
            border-radius: 10px;
            top: 7.8rem;
            right: -50%;
            width: 80%;
            transform: translateX(50%);
            z-index: 2000;
            box-shadow: none;
            border: 3px solid var(--white);
            transition: .4s ease-in-out;

            .menu{
                flex-direction: column;
                cursor: pointer;
                color: var(--black);
                a{
                    color: var(--black);
                }
                .listItem{
                    padding: .5rem 0;
                    a{
                        transition: .2s ease-in-out;
                    }
                    a:hover{
                        cursor: pointer;
                        color: var(--primary-color);
                        transition: .2s ease-in-out;
                    }
                }
            }

            .btnOne{
                display: block;
                justify-content: center;
                margin: auto;
                margin-top: 1rem;
            }
        }

        .btnTwo{
            display: none;
        }
    }

    .toggleIcon{
        font-size: 30px;
        color: var(--black);
    }

    .showNavBar{
        right:50%;
        transition: .5s ease-in-out;
    }



}

